.title {
    color: blue;
}

.test-outer-div {
    width: 100%;
}

button {
    cursor: pointer;
}

.tile {
    cursor: pointer;
    background-color: red;
    position: absolute;
    height: 45px;
    width: 45px;
    border: 1px solid black;

    font-size: 10px;
}

